CREATE TABLE SCHEMA_NAME.observations (

    observation_id character varying NOT NULL PRIMARY KEY,
    data_policy_licence integer,
    date_time timestamp with time zone,
    date_time_meaning integer,
    observation_duration integer,
    longitude numeric,
    latitude numeric,
    report_type integer,
    height_above_surface numeric,
    observed_variable integer,
    units integer,
    observation_value numeric,
    value_significance integer,
    platform_type integer,
    station_type integer,
    primary_station_id character varying,
    station_name character varying,
    quality_flag integer,
    source_id character varying

);

ALTER TABLE SCHEMA_NAME.observations ADD COLUMN location geography(Point, 4326);
/* UPDATE SCHEMA_NAME.observations SET location = ST_SetSRID(ST_MakePoint(longitude, latitude), 4326); */

/*
CREATE INDEX date_time_idx ON SCHEMA_NAME.observations (date_time);
CREATE INDEX observed_variable_idx ON SCHEMA_NAME.observations (observed_variable);
*/
