CREATE TABLE SCHEMA_NAME.observations (

    observation_id character varying NOT NULL,
    data_policy_licence integer,
    date_time timestamp with time zone,
    date_time_meaning integer,
    observation_duration integer,
    longitude numeric,
    latitude numeric,
    report_type integer,
    height_of_station_above_sea_level numeric,
    observed_variable integer,
    units integer,
    observation_value numeric,
    value_significance integer,
    platform_type integer,
    station_type integer,
    primary_station_id character varying,
    station_name character varying,
    quality_flag integer

);

ALTER TABLE SCHEMA_NAME.observations ADD COLUMN location geography(Point, 4326);
UPDATE SCHEMA_NAME.observations SET location = ST_SetSRID(ST_MakePoint(longitude, latitude), 4326);
